<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="ru.erdenian.shrinkometer.testapp">

    <application tools:ignore="AllowBackup,MissingApplicationIcon">

        <activity android:name=".MainActivity"/>

    </application>

</manifest>